<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="page-body" id="page-body">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="../">What's for Dinner?</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="../">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="../home">My Ingredients</a>
                    </li>
                </ul>
                <a href="javascript: document.logoutForm.submit()" role="menuitem" id="logout"> Logout</a>

                <form class="form-inline my-2 my-lg-0" name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <h5 id="labels" th:text="${title}">Default Title</h5>
        <nav th:replace="fragments :: backnavigation"></nav><hr color="white"/>
        <form method="post" th:object="${ingredient}">
            <div class="form-row">
                <div class="form-group col-md-6 text-white">
                    <label for="ingredientName">Ingredient</label>
                    <input type="text" class="form-control" name="ingredientName" id="ingredientName">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Ingredient</button>
        </form>
    </div>

    <div th:replace="fragments :: javascript-footer"></div>

</body>

</html>