<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">What's for Dinner?</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/home">My Ingredients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/register">Register</a>
          </li>
        </ul>
        <a href="javascript: document.logoutForm.submit()" role="menuitem" id="logout"> Logout</a>

        <form class="form-inline my-2 my-lg-0" name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
          <input hidden type="submit" value="Sign Out"/>
        </form>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-white font-weight-bold" id="main-brand-logo">What's For Dinner?</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white font-weight-light mb-5">Tell us what ingredients you have at home, and we will provide recipes that you can make with what you have!</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Learn More</a>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">You have the ingredients, we got the recipes!</h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">Tired of browsing your pantry and scratching your head trying to come up with what you can make with what you have? That's where we come in! We will provide you with recipes that use the ingredients you already have. This lets you find recipes that either maximize the usage of ingredients you have at hand or minimize the ingredients that you don't currently have.

          </p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="/login">Get Started!</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials Section -->
  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">Testimonials</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-hamburger text-primary mb-4"></i>
            <h3 class="h4 mb-2">Naomi H.</h3>
            <p class="text-muted mb-0">"This makes life so much easier! Thank you What's for Dinner!"</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-utensils text-primary mb-4"></i>
            <h3 class="h4 mb-2">Tiffany B.</h3>
            <p class="text-muted mb-0">"I actually use what I have now, and I take less trips to the grocery store."</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-ice-cream text-primary mb-4"></i>
            <h3 class="h4 mb-2">Bethany J.</h3>
            <p class="text-muted mb-0">"This has helped cut down dinner time significantly! Love this app!"</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-drumstick-bite text-primary mb-4"></i>
            <h3 class="h4 mb-2">Brandon H.</h3>
            <p class="text-muted mb-0">"What's not to love? No more time wasted figuring out what I can make."</p>
          </div>
        </div>
      </div>
    </div>
  </section><br/><br/><br/>

  <!-- Footer -->
  <footer th:fragment="footer" class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted" id="copyright">Copyright &copy; 2020 What's for Dinner</div>
    </div>
  </footer>

  <div th:replace="fragments :: javascript-footer"></div>

</body>

</html>
